.articleCard {
  padding: 16px;
  
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid black;
  background-color: white;
  
}

.articleTitle {
  font-size: 20px;
  font-weight: bold;
}

.articleDate {
  font-size: 14px;
  color: gray;
}

.articleContent {
  font-size: 16px;
}