.main {
  
  width:  90%;
  padding: 30px 20px;
}

.pageTitle {
  display: flex;
}

.articleList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-left: 10px;
  padding-right: 10px;
  gap: 20px;
}